/* RESPONDSIVE */

@media only screen and (max-width: 990px) {
    html {
      font-size: 0.7em;
    }
  }
  
  @media only screen and (max-width: 750px) {
    html {
      font-size: 0.5em;
    }
  }
  
  @media only screen and (max-width: 680px) {
    html {
      font-size: 0.33em;
    }
  }

/* INDEX html */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/space.jpg);
    background-size: cover;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30em;
    width: 50em;
    flex-direction: column;
}

.game-title {
    font-family: 'Common Pixel', sans-serif;
    font-size: 100px;
    animation: ease-in;
}

.game-title {
    font-size: 8rem;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;

    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
        0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

    animation: game-title 500ms infinite;
}

.game-title span {
    position: absolute;
    top: 0;
    left: 0;
}

.game-title span:first-child {
    animation: game-title 650ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-0.025em, -0.0125em);
    opacity: 0.8;
}

.game-title span:last-child {
    animation: game-title 375ms infinite;
    clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
    transform: translate(0.0125em, 0.025em);
    opacity: 0.8;
}

@keyframes game-title {
    0% {
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
            -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
            -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }

    14% {
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
            -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
            -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }

    15% {
        text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
            0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
            -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    49% {
        text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
            0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
            -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    50% {
        text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
            0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    99% {
        text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
            0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    100% {
        text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
            -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
            -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
}

@media (prefers-reduced-motion: reduce) {

    *,
    ::before,
    ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
    }
}

.buttons-container {
    margin: 7em;
    display: flex;
    justify-content: space-around;
    width: 40em;
}

.btn-game {
    font-family: 'Common Pixel', sans-serif;
    font-size: 45px;
    background-color: black;
    color: white;
}

.btn-game {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.btn-game::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-image: linear-gradient(45deg, red, blue, green, yellow);
    border-image-slice: 1;
    animation: animateBorder 2s infinite;
}

@keyframes animateBorder {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
        border-color: transparent;
    }

    100% {
        transform: scale(1);
    }
}

.btn-game:active {
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(4px);
}

/* ABOUT html */

.rules {
    font-family: 'Public Pixel', sans-serif;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.rules-text {
    height: 4em;
    width: 78vw;
    color: white;
    font-size: 35px;
}

.btn-back {
    font-family: 'Common Pixel', sans-serif;
    font-size: 45px;
    background-color: black;
    color: white;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.btn-back::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-image: linear-gradient(45deg, red, blue, green, yellow);
    border-image-slice: 1;
    animation: animateBorder 2s infinite;
}

@keyframes animateBorder {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
        border-color: transparent;
    }

    100% {
        transform: scale(1);
    }
}

.btn-back:active {
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(4px);
}

/* NICKNAME html */

.text-name {
    font-family: 'Public Pixel', sans-serif;
    color: white;
    font-size: 42px;
    margin-right: 0.5em;
}

.input-nick {
    height: 2.5em;
    width: 10em;
    font-size: 40px;
}

.container-btn-nickname {
    margin: 7em;
    display: flex;
    justify-content: space-around;
    width: 40em;
}

.container-nicknameinput {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/* COLOR SELECT */

.text-color-pick {
    display: flex;
    justify-content: center;
}

.choose-color-text {
    color: white;
    font-family: 'Public Pixel', sans-serif;
    margin: 70px;
    font-size: 25px;
}

.color-sample {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40em;
}

.color-copy {
    border: solid 3px white;
    height: 8em;
    width: 8em;
    border-radius: 20%;
}

.color-pick {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.color-picker {
    height: 2em;
    width: 5em;
}

.color-picker:hover {
    cursor: pointer;
}

.container-btn-colorpick {
    margin: 100px;
    display: flex;
    justify-content: space-between;
}

/* IN GAME BOARD */

.container-board {
    display: flex;
    height: 54em;
    width: 65em;
}

.my-colours {
    height: 51em;
    width: 25em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.chousen-colours-container{
    display: flex;
    height: 20em;
    width: 25em;
    align-items: flex-end;
}

.my-chosen-colours{
    height: 5em;
    width: 5em;
    border: solid 3px rgb(255, 255, 255);
    margin: 10px;
    cursor: pointer;
}

.my-chosen-colours:hover{
    scale: .9;
}

.button-container-board{
    display: flex;
    width: 25em;
    height: 20em;
    justify-content: center;
}

.container-btn-back{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 25em;
    height: 10em;
    margin-top: 100px;
}

.btn-check-board{
    scale: .8;
    border-radius: 25%;
    height: 5em;
    width: 15em;
    color: white;
    background-color: black;
    font-family: 'Public Pixel', sans-serif;
    font-size: 15px;
    border: solid 3px white;
}

.btn-check-board:hover {
    cursor: pointer;
    scale: .82;
}

.btn-back-board{
    scale: .8;
}

.board {
    height: 51em;
    width: 25em;
}

.row {
    width: 25em;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.board-box {
    height: 3em;
    width: 3em;
    border-radius: 20%;
    margin: -50px;
    border: solid 5px white;
}

.score {
    height: 51em;
    width: 10em;
}

.score-row {
    width: 10em;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-box {
    height: 1.8em;
    width: 3em;
    border: solid 4px rgb(163, 163, 163);
    border-radius: 50%;
    margin: 2px;
}

/* WINNER HTML */

.container-winner {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.winner-main{
    height: 40em;
    width: 40em;
    background-color: black;
    border-radius: 20%;
    border: solid 3px whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-winner{
    font-family: 'Public Pixel', sans-serif;
    font-size: 40px;
    color: whitesmoke;
}

.winner-main-2{
    margin: -100px;
    height: 20em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.btn-play-again {
    scale: .6;
}

.text-warning {
    color: red;
}

.text-yellow{
    color: yellow;
}

/* SELECT DIFFICULTY html */

.container-main-difficulty {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.difficulty-text {
    color: white;
    margin: 20px;
    font-family: 'Public Pixel', sans-serif;
    font-size: 50px;
}

.difficulty-container {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-div-difficulty {
    margin: 40px;
}

.btn-back-difficulty {
    width: 90vw;
}


/* HARDMODE */

.space-hardmode{
    height: 10em;
}


/* IMPOSSIBLE */


.space-impossible {
    height: 25em;
}